<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>

            /* title */
            h1 {
                padding-top: 1em;
                font-size: 1.4em;
                border-bottom: black solid thin;
            }

            h2 {
                font-size: 1.2em;
            }

            h1.big-title {
                font-size: 3em;
                border: none;
                text-align: center;
                margin: 0;
                padding: 0.6em;
                color: white;
                background-color: #c60000;
                font-weight: lighter;
            }

            h1.h0 {
                font-size: 1.8em;
                color: #c60000;
                border-bottom: #c60000 solid thick;                
            }

            /* box align */
            aside {
                float: right;
            }
            section, article {
                clear: both;
            }

            /* style inside box */
            .pi-europa.portable-infobox {
                width: 300px;
                background-color: #f0f0f0;                
            }
            .pi-item {
                display: flex;
                flex-direction: row;
                padding: 0.5em;
            }
            .pi-data-label {
                flex-basis: 160px;   
                margin: 0;
            }
            figure {
                display: block;
                text-align: center;
                margin: 0;
            }
            .pi-title {
                text-align: center;
                background-color: #ffd0d0;
                margin: 0;
                padding: 0.5em;
                display: inherit;
            }
            .portable-infobox {
                margin-left: 2em;
            }
            .pi-data-value, .pi-data-value > p {
                vertical-align: baseline;
                margin: 0;
            }     

            /* image */
            figure.tright {
                float: right;
            }
            figure.pi-image {
                padding: 0;
            }

            /* link */
            a {
                text-decoration: none;
                color: #c60000;
            }
            
            /* table */
            table.article-table th {
                border-bottom: black solid thin;
            }

        </style>       
    </head>
    <body>
        <h1 class="big-title">Eclipse Savage</h1>
        {{ dump_page('Pitch Eclipse Phase')}}
        {{ dump_page('Création de PJ')}}
        <section>
            <h1 class="h0">Historiques</h1>
            {{ dump_category('Historique', 30) }}
        </section>
        <section>
            <h1 class="h0">Factions</h1>
            {{ dump_category('Faction', 40) }}
        </section>        
        <section>
            <h1 class="h0">Handicaps</h1>
            {{ dump_category('Handicap', 80) }}
        </section>
        <section>
            <h1 class="h0">Compétences</h1>
            {{ dump_category('Compétence', 30) }}
        </section>
        <section>
            <h1 class="h0">Atouts</h1>
            {{ dump_category('Atout', 120) }}
        </section>
        <section>
            <h1 class="h0">Biomorphes</h1>
            {{ dump_category('Biomorphe', 30) }}        
        </section>
        <section>
            <h1 class="h0">Cosses</h1>
            {{ dump_category('Cosse', 10) }}        
        </section>
        <section>
            <h1 class="h0">Synthomorphes</h1>
            {{ dump_category('Synthomorphe', 20) }}        
        </section>
        <section>
            <h1 class="h0">Nouvelles mécaniques</h1>
            {{ dump_category('Règle', 30) }}        
        </section>        
    </body>
</html>